<div id="restaurants">
  <% restaurants.each do |restaurant| %>
    <%= render 'restaurant', restaurant: restaurant %>
    <p>
      <%= link_to "Show this restaurant", restaurant, class: 'btn btn-secondary' %>
    </p>
  <% end %>
</div>
